#features {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
#sitemap {
  .large-image {
    padding: 24px;
  }
}