// ====================
// CSS Variables
// ====================

:root {
    --background-color: #0e0e0e;
    --tint-color: #1f1f1f;
    --hover-color: #969696;
    --hover-color-alt: #3c3c3c;
    --text-color: #ffffff;
    --text-color-alt: rgba(255, 255, 255, 0.7);
    --border-color: #282828;
    --border-color-alt: #555555;
    --border-color-blue: #475F7B;
    --primary-blue: #4b95ea;
    --primary-blue-light: #a9cef9;
    --primary-blue-tint: #2D4158;
    --red: #ff6f6f;
}

// ====================
// Base Styles
// ====================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// .fade-up {
//   opacity: 0;
//   transform: translateY(60px);
// }

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Zalando Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#body-wrapper {
    margin-top: 77px;
}

.content {
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.content-small {
    padding: 50px 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin: auto;
    width: 100%;
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 80px 0;
}

p {
    color: var(--text-color-alt);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 12px;
    max-width: 900px;
}

h1 {
    font-size: 28px;
}

h2 {
    max-width: 950px;
}

h1,
h2,
h3 {
    margin-bottom: 18px;
    font-weight: 500;
}


.panel-hover {
    background-color: var(--tint-color);
    background: linear-gradient(0deg,
            var(--tint-color) 0%,
            var(--background-color) 100%);
    border: 1px solid var(--border-color);

    .text,
    img,
    p,
    i,
    h3,
    h2,
    h1,
    a,
    span,
    .button {
        position: relative;
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        pointer-events: none;
        background: linear-gradient(0deg,
                var(--primary-blue-tint) 0%,
                var(--background-color) 100%);
        opacity: 0;
        transition: opacity 250ms ease;
        z-index: 0;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover {
        border-color: var(--border-color-blue);
        transform: translateY(-2px);

        h3 {
            color: var(--primary-blue);
        }

        // .button.primary {
        //     background-color: var(--text-color);
        // }
    }
}

.panel-blue {
    background: linear-gradient(0deg,
            var(--primary-blue-tint) 0%,
            var(--background-color) 100%);
    border: 1px solid var(--border-color-blue);
    border-radius: 16px;
}

.panel-blue-pixel {
    background-image: url("/images/acme5/acme_bg.webp");
    background-size: cover;
    background-position: center;
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

.panel-green-pixel {
    background-image: url("/images/avanti-app/avanti_bg.webp");
    background-size: cover;
    background-position: center;
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

.panel-grey {
    background: linear-gradient(0deg,
            var(--tint-color) 0%,
            var(--background-color) 100%);
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

.button {
    display: block;
    width: max-content;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 250ms ease;

    i {
        position: relative;
        top: 1px;
        margin-left: 6px;
    }

    &:hover {
        background-color: var(--primary-blue);
        transform: translateY(-2px);

    }

    &.primary {
            background: linear-gradient(0deg,
            var(--text-color) 0%,
            var(--text-color-alt) 100%);
        color: var(--background-color);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background: linear-gradient(0deg,
                    var(--primary-blue-light) 0%,
                    var(--primary-blue) 100%);
            opacity: 0;
            transition: opacity 250ms ease;
            z-index: -1;
        }

        &:hover {
            background-color: transparent;
            color: var(--background-color);
            transform: translateY(-2px);

            &::before {
                opacity: 1;
            }
        }
    }

    &.secondary {
            background: linear-gradient(0deg,
            var(--tint-color) 0%,
            var(--background-color) 100%);
        color: var(--text-color);
        border: 1px solid var(--border-color);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background: linear-gradient(0deg,
                    var(--hover-color-alt) 0%,
                    var(--tint-color) 100%);
            opacity: 0;
            transition: opacity 250ms ease;
            z-index: -1;
        }

        &:hover {
            transform: translateY(-2px);

            &::before {
                opacity: 1;
            }
        }
    }
}

.sub-header {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 18px;
    color: var(--text-color-alt);
    font-family: "Chivo Mono", monospace;

    &.blue {
        color: var(--primary-blue);
    }
}

.skills {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    span {
        color: var(--text-color-alt);
        font-family: "Chivo Mono", monospace;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        padding: 0 12px;
        border-radius: 21px;
        border: 1px solid var(--border-color-alt);
        transition: border-color 250ms ease;

    }
}


.main-text {
    margin-bottom: 50px;
}

.large-image {
    padding: 40px 40px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
        height: 100%;
    }
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.gap-50 {
    gap: 50px;
}

.image-container {
    width: 100%;
    background-color: var(--tint-color);
    padding: 5% 8% 0;
    border-radius: 24px;
    margin-bottom: 50px;

    img {
        display: block;
        width: 100%;
        height: auto;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

    }
}

.image-section {
    display: flex;
    flex-direction: column;


    .image-grid {
        display: grid;
        column-gap: 32px;
        row-gap: 40px;

        &.double-column {
            grid-template-columns: 1fr;
        }

        &.triple-column {
            grid-template-columns: 1fr;
        }

        .item {
            border-radius: 24px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .image {
            width: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
                border-top-left-radius: 12px;
            }
        }

        .text {
            padding: 24px;
        }
    }
}

.project-header {
    h1 {
        margin-bottom: 0;
    }

    .skills {
        margin-top: 24px;
    }

    .button-container {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 40px;
        margin-bottom: 42px;
    }

    h2 {
        font-size: 32px;
    }

    .content-small {
        padding: 60px 20px 120px;
    }

    .image-section {
        .image-grid {
            display: grid;
            gap: 32px;

            &.single-column {
                grid-template-columns: 1fr;
            }

            &.double-column {
                grid-template-columns: 1fr 1fr;
            }

            &.triple-column {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .text {
                padding: 40px;
            }
        }


    }

    .large-image {
        padding: 60px 60px 0;
    }

}


@media (min-width: 1650px) {

    // ====================
    // Base Styles
    // ====================

    .content {
        max-width: 1600px;
    }

    // ====================
    // Header & Navigation
    // ====================

    .desktop-navbar {
        .desktop-navbar-container {
            max-width: 1600px;
        }

    }
}