:root {
  --background-color-dark: #060606;
  --background-color: #0e0e0e;
  --tint-color: #1f1f1f;
  --hover-color: #969696;
  --hover-color-alt: #3c3c3c;
  --text-color: #ffffff;
  --text-color-alt: rgba(255, 255, 255, 0.7);
  --border-color: #282828;
  --border-color-alt: #555555;
  --border-color-blue: #475F7B;
  --primary-blue: #4b95ea;
  --primary-blue-light: #a9cef9;
  --primary-blue-tint: #2D4158;
  --primary-green: #3cd870;
  --primary-green-light: #a9f9c9;
  --red: #ff6f6f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zalando Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

#body-wrapper {
  margin-top: 77px;
}

.content {
  padding: 0 20px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.content-small {
  padding: 50px 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: auto;
  width: 100%;
}

.sections-wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 80px 0;
}

p {
  color: var(--text-color-alt);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 12px;
  max-width: 900px;
}

h1 {
  font-size: 28px;
}

h2 {
  max-width: 950px;
}

h1,
h2,
h3 {
  margin-bottom: 18px;
  font-weight: 500;
}

.panel-hover {
  background-color: var(--tint-color);
  background: linear-gradient(0deg, var(--tint-color) 0%, var(--background-color) 100%);
  border: 1px solid var(--border-color);
}
.panel-hover .text,
.panel-hover img,
.panel-hover p,
.panel-hover i,
.panel-hover h3,
.panel-hover h2,
.panel-hover h1,
.panel-hover a,
.panel-hover span,
.panel-hover .button {
  position: relative;
  z-index: 1;
}
.panel-hover::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  background: linear-gradient(0deg, var(--primary-blue-tint) 0%, var(--background-color) 100%);
  opacity: 0;
  transition: opacity 250ms ease;
  z-index: 0;
}
.panel-hover:hover::after {
  opacity: 1;
}
.panel-hover:hover {
  border-color: var(--border-color-blue);
  transform: translateY(-2px);
}
.panel-hover:hover h3 {
  color: var(--primary-blue);
}

.panel-blue {
  background: linear-gradient(0deg, var(--primary-blue-tint) 0%, var(--background-color) 100%);
  border: 1px solid var(--border-color-blue);
  border-radius: 16px;
}

.panel-blue-pixel {
  position: relative;
  background: radial-gradient(circle at 50% 100%, rgb(39, 117, 249) 0%, rgba(39, 117, 249, 0.25) 37%, rgb(0, 0, 0) 50%);
  background-size: cover;
  background-position: bottom;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  box-shadow: inset 0 50px 30px -20px rgba(0, 0, 0, 0.9);
}
@media (min-width: 700px) {
  .panel-blue-pixel {
    background: radial-gradient(circle at 50% 100%, rgb(7, 98, 203) 0%, rgba(7, 98, 203, 0.25) 37%, rgb(0, 0, 0) 60%);
  }
}
@media (min-width: 900px) {
  .panel-blue-pixel {
    background: radial-gradient(circle at 50% 100%, rgb(7, 98, 203) 0%, rgba(7, 98, 203, 0.25) 37%, rgb(0, 0, 0) 50%);
  }
}
@media (min-width: 1650px) {
  .panel-blue-pixel {
    background: radial-gradient(circle at 50% 100%, rgb(7, 98, 203) 0%, rgba(7, 98, 203, 0.25) 37%, rgb(0, 0, 0) 60%);
  }
}
.panel-blue-pixel:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 5px;
  left: 0;
  right: 0;
  border-radius: inherit;
  background-image: url("/images/acme5/dither-blue2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  opacity: 1;
  pointer-events: none;
}

.panel-green-pixel {
  position: relative;
  background: radial-gradient(circle at 50% 100%, rgb(27, 173, 85) 0%, rgba(27, 173, 85, 0.25) 30%, rgb(0, 0, 0) 50%);
  background-size: cover;
  background-position: bottom;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  box-shadow: inset 0 50px 30px -20px rgba(0, 0, 0, 0.9);
}
@media (min-width: 700px) {
  .panel-green-pixel {
    background: radial-gradient(circle at 50% 100%, rgb(27, 173, 85) 0%, rgba(27, 173, 85, 0.25) 37%, rgb(0, 0, 0) 60%);
  }
}
@media (min-width: 900px) {
  .panel-green-pixel {
    background: radial-gradient(circle at 50% 100%, rgb(27, 173, 85) 0%, rgba(27, 173, 85, 0.25) 30%, rgb(0, 0, 0) 50%);
  }
}
@media (min-width: 1650px) {
  .panel-green-pixel {
    background: radial-gradient(circle at 50% 100%, rgb(27, 173, 85) 0%, rgba(27, 173, 85, 0.25) 37%, rgb(0, 0, 0) 60%);
  }
}
.panel-green-pixel:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 5px;
  left: 0;
  right: 0;
  border-radius: inherit;
  background-image: url("/images/avanti-app/dither-green2.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 1;
  pointer-events: none;
}

.panel-grey {
  background: linear-gradient(0deg, var(--tint-color) 0%, var(--background-color) 100%);
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

.button {
  display: block;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 250ms ease;
}
.button i {
  position: relative;
  top: 1px;
  margin-left: 6px;
}
.button:hover {
  transform: translateY(-2px);
}
.button.blue {
  background: linear-gradient(0deg, var(--text-color) 0%, var(--text-color-alt) 100%);
  color: var(--background-color);
}
.button.blue::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(0deg, var(--primary-blue-light) 0%, var(--primary-blue) 100%);
  opacity: 0;
  transition: opacity 250ms ease;
  z-index: -1;
}
.button.blue:hover {
  background-color: transparent;
  color: var(--background-color);
  transform: translateY(-2px);
}
.button.blue:hover::before {
  opacity: 1;
}
.button.green {
  background: linear-gradient(0deg, var(--text-color) 0%, var(--text-color-alt) 100%);
  color: var(--background-color);
}
.button.green::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(0deg, var(--primary-green-light) 0%, var(--primary-green) 100%);
  opacity: 0;
  transition: opacity 250ms ease;
  z-index: -1;
}
.button.green:hover {
  background-color: transparent;
  color: var(--background-color);
  transform: translateY(-2px);
}
.button.green:hover::before {
  opacity: 1;
}
.button.grey {
  background: linear-gradient(0deg, var(--border-color-alt) 0%, var(--border-color) 100%);
  color: var(--text-color);
}
.button.grey::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(0deg, var(--border-color) 0%, var(--border-color-alt) 100%);
  opacity: 0;
  transition: opacity 250ms ease;
  z-index: -1;
}
.button.grey:hover {
  transform: translateY(-2px);
}
.button.grey:hover::before {
  opacity: 1;
}

.sub-header {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 18px;
  color: var(--text-color-alt);
  font-family: "Chivo Mono", monospace;
}
.sub-header.blue {
  color: var(--primary-blue);
}
.sub-header.green {
  color: var(--primary-green);
}

.skills {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.skills span {
  color: var(--text-color-alt);
  font-family: "Chivo Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 21px;
  border: 1px solid var(--border-color-alt);
  transition: border-color 250ms ease;
}

.main-text {
  margin-bottom: 50px;
}

.large-image {
  padding: 40px 40px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.large-image img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.gap-50 {
  gap: 50px;
}

.image-container {
  width: 100%;
  background-color: var(--tint-color);
  padding: 5% 8% 0;
  border-radius: 24px;
  margin-bottom: 50px;
}
.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.image-section {
  display: flex;
  flex-direction: column;
}
.image-section .image-grid {
  display: grid;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 40px;
}
.image-section .image-grid.double-column {
  grid-template-columns: 1fr;
}
.image-section .image-grid.triple-column {
  grid-template-columns: 1fr;
}
.image-section .image-grid .item {
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.image-section .image-grid .image {
  width: 100%;
}
.image-section .image-grid .image img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
}
.image-section .image-grid .text {
  padding: 24px;
}

.project-header h1 {
  margin-bottom: 0;
}
.project-header .skills {
  margin-top: 24px;
}
.project-header .button-container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

@media (min-width: 900px) {
  h1 {
    font-size: 40px;
    margin-bottom: 42px;
  }
  h2 {
    font-size: 32px;
  }
  .content-small {
    padding: 60px 20px 120px;
  }
  .image-section .image-grid {
    display: grid;
    gap: 32px;
  }
  .image-section .image-grid.single-column {
    grid-template-columns: 1fr;
  }
  .image-section .image-grid.double-column {
    grid-template-columns: 1fr 1fr;
  }
  .image-section .image-grid.triple-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .image-section .image-grid .text {
    padding: 40px;
  }
  .large-image {
    padding: 60px 60px 0;
  }
}
@media (min-width: 1650px) {
  .content {
    max-width: 1600px;
  }
  .desktop-navbar .desktop-navbar-container {
    max-width: 1600px;
  }
}/*# sourceMappingURL=general.css.map */