#banner {
  text-align: left;

  .blurb {
    margin: auto;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 24px;
  }

  h1 {
    font-family: "Zalando Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

#projects {
  #project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    .project-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 24px;
      position: relative;
      overflow: hidden;
      transition: all 250ms ease;
      justify-content: space-between;

      .project-image {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: bottom;
        margin-top: auto;
        position: relative;
        top: 2px;
      }

      a {
        display: inline-block;
      }

      .text {
        width: 100%;
        padding: 24px;


        h3 {
          font-family: "Chivo Mono", monospace;
          font-size: 16px;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          margin-bottom: 8px;
          transition: all 250ms ease;
        }

        span {
          display: block;
          font-family: "Chivo Mono", monospace;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-bottom: 20px;
          color: var(--text-color-alt);
        }

        p {
          margin-bottom: 28px;
          color: var(--text-color-alt);
        }
      }
    }
  }
}

.panel-blue-pixel {
  position: relative;
  background: radial-gradient(circle at 105% 105%,
      rgb(255, 255, 255) 0%,
      rgb(0, 94, 255) 30%,
      rgba(4, 4, 4, 1.0) 70%);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  height: 550px;
  // box-shadow: inset 0 50px 30px -20px rgba(0, 0, 0, 0.9);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    background-image: url("/images/dither-blue.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: -1;
    pointer-events: none;
  }

    @media (min-width: 700px) {
    overflow: hidden;
    height: 700px;
    box-shadow: none;
    background: radial-gradient(circle at 100% 100%,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(0, 94, 255, 1) 30%,
        rgb(4, 4, 4) 70%);

    &::before {
      background-image: url("/images/dither-blue-large.svg");
      background-size: auto 100%;
      background-position: bottom right;
    }
  }

  @media (min-width: 1200px) {
    overflow: hidden;
    height: 425px;
    box-shadow: none;
    background: radial-gradient(circle at 100% 100%,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(0, 94, 255, 1) 30%,
        rgb(4, 4, 4) 70%);

    &::before {
      background-image: url("/images/dither-blue-horizontal.svg");
      background-size: auto 100%;
      background-position: bottom right;
    }
  }
}

.panel-green-pixel {
  position: relative;
  background: radial-gradient(circle at 105% 105%,
      rgb(255, 255, 255) 0%,
      rgb(0, 165, 66) 30%,
      rgb(4, 4, 4) 70%);
  background-size: cover;
  background-position: bottom;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  // box-shadow: inset 0 50px 30px -20px rgba(0, 0, 0, 0.9);
  height: 550px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    background-image: url("/images/dither-green.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: -1;
    pointer-events: none;
  }

      @media (min-width: 700px) {
    overflow: hidden;
    height: 700px;
    box-shadow: none;
    background: radial-gradient(circle at 100% 100%,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(0, 165, 66, 1) 25%,
        rgba(4, 4, 4, 1) 70%);

    &::before {
      background-image: url("/images/dither-green-large.svg");
      background-size: auto 100%;
      background-position: bottom right;
    }
  }


  @media (min-width: 1200px) {
    height: 425px;
    // box-shadow: inset 0 50px 30px -20px rgba(0, 0, 0, 0.0);

    background: radial-gradient(circle at 100% 100%,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(0, 165, 66, 1) 25%,
        rgba(4, 4, 4, 1) 70%);

    &::before {
      background-image: url("/images/dither-green-horizontal.svg");
      background-size: auto 100%;
      background-position: bottom right;
    }
  }
}

#more-projects {


  .mini-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .mini-card {
    border-radius: 16px;
    padding: 24px;
    position: relative;
    overflow: hidden;
    transition: all 250ms ease;

    h3,
    span,
    p {
      position: relative;
      z-index: 1;
    }

    h3 {
      font-family: "Chivo Mono", monospace;
      font-size: 16px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-bottom: 8px;
      transition: all 250ms ease;
    }


    .year {
      font-family: "Chivo Mono", monospace;
      font-size: 12px;
      display: block;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--text-color-alt);
      margin-bottom: 16px;
    }


    p {
      color: var(--text-color-alt);
      font-size: 15px;
      margin-bottom: 24px;
    }
  }
}

@media (min-width: 1200px) {
  #projects {
    #project-list {
      .project-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
    }
  }


  #banner {
    .blurb {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      max-width: 800px;

      img {
        margin-bottom: 2px;
      }
    }
  }

  #projects {
    #project-list {
      display: grid;
      grid-template-columns: 1fr;
      max-width: none;
      margin: none;

      .project-card {

        .text {
          padding: 40px;
        }
      }

    }
  }

  #more-projects {
    .mini-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

}

@media (min-width: 1200px) {
  #more-projects {
    .mini-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}