#banner {
  text-align: left;

  .blurb {
    margin: auto;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 24px;
  }

  h1 {
    font-family: "Zalando Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

#projects {
  #project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    .project-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 24px;
      margin-bottom: 24px;
      position: relative;
      overflow: hidden;
      transition: all 250ms ease;
      justify-content: space-between;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
      }

      a {
        display: inline-block;
      }

      .text {
        width: 100%;
        padding: 24px;


        h3 {
          font-family: "Chivo Mono", monospace;
          font-size: 16px;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          margin-bottom: 8px;
          transition: all 250ms ease;
        }

        span {
          display: block;
          font-family: "Chivo Mono", monospace;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-bottom: 20px;
          color: var(--text-color-alt);
        }

        p {
          margin-bottom: 28px;
          color: var(--text-color-alt);
        }
      }
    }
  }
}

#more-projects {


  .mini-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .mini-card {
    border-radius: 16px;
    padding: 24px;
    position: relative;
    overflow: hidden;
    transition: all 250ms ease;

    h3,
    span,
    p {
      position: relative;
      z-index: 1;
    }

    h3 {
      font-family: "Chivo Mono", monospace;
      font-size: 16px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-bottom: 8px;
      transition: all 250ms ease;
    }


    .year {
      font-family: "Chivo Mono", monospace;
      font-size: 12px;
      display: block;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--text-color-alt);
      margin-bottom: 16px;
    }


    p {
      color: var(--text-color-alt);
      font-size: 15px;
      margin-bottom: 24px;
    }
  }
}

@media (min-width: 900px) {


  #banner {
    .blurb {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      max-width: 800px;

      img {
        margin-bottom: 2px;
      }
    }
  }

  #projects {
    #project-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: none;
      margin: none;

      .project-card {

        .text {
          padding: 40px;
        }
      }

    }
  }

  #more-projects {
    .mini-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

}

@media (min-width: 1200px) {
  #more-projects {
    .mini-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}