#banner {
  text-align: left;
}
#banner .blurb {
  margin: auto;
}
#banner img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 24px;
}
#banner h1 {
  font-family: "Zalando Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
}

#projects #project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
#projects #project-list .project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 24px;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  transition: all 250ms ease;
  justify-content: space-between;
}
#projects #project-list .project-card img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
#projects #project-list .project-card a {
  display: inline-block;
}
#projects #project-list .project-card .text {
  width: 100%;
  padding: 24px;
}
#projects #project-list .project-card .text h3 {
  font-family: "Chivo Mono", monospace;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 8px;
  transition: all 250ms ease;
}
#projects #project-list .project-card .text span {
  display: block;
  font-family: "Chivo Mono", monospace;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-color-alt);
}
#projects #project-list .project-card .text p {
  margin-bottom: 28px;
  color: var(--text-color-alt);
}

#more-projects .mini-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}
#more-projects .mini-card {
  border-radius: 16px;
  padding: 24px;
  position: relative;
  overflow: hidden;
  transition: all 250ms ease;
}
#more-projects .mini-card h3,
#more-projects .mini-card span,
#more-projects .mini-card p {
  position: relative;
  z-index: 1;
}
#more-projects .mini-card h3 {
  font-family: "Chivo Mono", monospace;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 8px;
  transition: all 250ms ease;
}
#more-projects .mini-card .year {
  font-family: "Chivo Mono", monospace;
  font-size: 12px;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-color-alt);
  margin-bottom: 16px;
}
#more-projects .mini-card p {
  color: var(--text-color-alt);
  font-size: 15px;
  margin-bottom: 24px;
}

@media (min-width: 900px) {
  #banner .blurb {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    max-width: 800px;
  }
  #banner .blurb img {
    margin-bottom: 2px;
  }
  #projects #project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: none;
    margin: none;
  }
  #projects #project-list .project-card .text {
    padding: 40px;
  }
  #more-projects .mini-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  #more-projects .mini-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=home.css.map */