nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: var(--liam-brand);
  backdrop-filter: blur(0px);
  border-bottom: 1px solid transparent;
  transition: all 300ms ease;

  &.scrolled {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }


  li {
    font-weight: 800;
    font-size: 18px;
    transition: color 250ms ease;

  }

  ul {
    list-style: none;
    display: flex;
    gap: 32px;
    height: fit-content;

  }

  a {
    display: flex;
    align-items: center;
  }

  .logo {
    font-weight: 800;
    font-size: 18px;
    transition: color 250ms ease;
  }

  &:hover {
    color: var(--primary-blue);
  }
}

@media (min-width: 1200px) {

  nav {
    .inner {
      padding: 20px 40px;
    }
  }
}