// ====================
// Home page Sections wrapper
// ====================

.sections-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 80px 0;
}


// ====================
// Home Page - Banner Section
// ====================

#banner {
  text-align: left;

  .blurb {
    margin: auto;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 24px;
  }

  h1 {
    font-family: "Zalando Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

// ====================
// Home - Projects Section
// ====================

#projects {
  #project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    .project-card {
      display: inline-block;
      width: 100%;
      border-radius: 24px;
      margin-bottom: 24px;
      position: relative;
      overflow: hidden;
      transition: all 250ms ease;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
      }

      a {
        display: inline-block;
      }

      .text {
        width: 100%;
        margin-bottom: 50px;
        padding: 24px;


        h3 {
          font-family: "Chivo Mono", monospace;
          font-size: 16px;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          margin-bottom: 8px;
          transition: all 250ms ease;
        }

        span {
          display: block;
          font-family: "Chivo Mono", monospace;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-bottom: 20px;
          color: var(--text-color-alt);
        }

        p {
          margin-bottom: 28px;
          color: var(--text-color-alt);
        }
      }
    }
  }
}

#more-projects {

  h2 {
    margin-bottom: 40px;
  }


  .mini-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .mini-card {
    border-radius: 16px;
    padding: 24px;
    position: relative;
    overflow: hidden;
    transition: all 250ms ease;

    h3,
    span,
    p {
      position: relative;
      z-index: 1;
    }

    .icon-open {
      position: absolute;
      top: 24px;
      right: 24px;
      font-size: 16px;
      color: var(--text-color-alt);
      z-index: 1;
    }

    h3 {
      font-family: "Chivo Mono", monospace;
      font-size: 16px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-bottom: 8px;
      transition: all 250ms ease;
    }


    .year {
      font-family: "Chivo Mono", monospace;
      font-size: 12px;
      display: block;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--text-color-alt);
      margin-bottom: 16px;
    }


    p {
      color: var(--text-color-alt);
      font-size: 15px;
      margin: 0;
    }
  }
}

// ====================
// Case Study - Templated Sections
// ====================

.image-container {
  width: 100%;
  background-color: var(--tint-color);
  padding: 5% 8% 0;
  border-radius: 24px;
  margin-bottom: 50px;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

  }
}

.image-section {
  display: flex;
  flex-direction: column;


  .image-grid {
    display: grid;
    column-gap: 32px;
    row-gap: 40px;


    &.single-column {
      grid-template-columns: 1fr;
    }

    &.double-column {
      grid-template-columns: 1fr;
    }

    &.triple-column {
      grid-template-columns: 1fr;
    }

    .item {
      border-radius: 24px;
      overflow: hidden;
    }

    .image {
      width: 100%;

      img {
        display: block;
        width: 100%;
        height: auto;
        border-top-left-radius: 12px;
      }
    }

    .text {
      padding: 40px;
    }
  }

}




// ====================
// Case Study - Acme
// ====================
#background-section {

  .text {
    margin-bottom: 50px;
  }

  .upgrade {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .inner {
      display: flex;
     flex-direction: column-reverse;
      border-radius: 24px;
      overflow: hidden;

      .text {
        width: 100%;
        padding: 40px;
        margin-bottom: 0;

        .sub-header {
          margin-bottom: 20px;
        }

        .item {
          display: flex;
          gap: 16px;
          align-items: center;
          margin-bottom: 24px;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            margin: 0;
            color: var(--text-color);
          }

          img {
            width: 24px;
            height: 24px;
          }

          span {
            color: var(--primary-blue);
            font-size: 24px;

            &.icon-x {
              color: var(--hover-color);
            }
          }
        }
      }

      .image {
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 6% 6% 0 6%;

        img {
          width: 100%;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }
      }

    }
  }
}

#new-features {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .image {
    padding-left: 40px;

  }
}

.filter-features {
  .image-grid {
    .image {
      padding: 6% 0 0 6%;

      img {
        border-top-left-radius: 12px;
        border-top-right-radius: 0;
      }
    }
  }
}

.example-websites {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .website-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    column-gap: 32px;

    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 24px;
      border-radius: 12px;
      transition: all 250ms ease;
    }

    p {
      color: var(--text-color);
      font-family: "Chivo Mono", monospace;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      margin: 0;
    }

    span {
      color: var(--text-color-alt);
    }
  }
}


// ====================
// Media Queries
// ====================

@media (min-width: 900px) {

  // ====================
  // Base Styles
  // ====================

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 18px;
  }

  #banner {
    padding: 100px 0;
  }


  // ====================
  // Home Page - Banner Section
  // ====================

  #banner {
    .blurb {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      max-width: 800px;

      img {
        margin-bottom: 2px;
      }
    }
  }

  // ====================
  // Case Study - Templated Sections
  // ====================

  .image-section {
    .image-grid {
      display: grid;
      gap: 32px;

      &.single-column {
        grid-template-columns: 1fr;
      }

      &.double-column {
        grid-template-columns: 1fr 1fr;
      }

      &.triple-column {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

  }

  // ====================
  // Case Study - Acme
  // ====================

  #background-section {
    .upgrade {
      position: relative;

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &.panel-grey {

          img {
            filter: grayscale(100%);
            opacity: 0.7;
          }
        }

        .image {
          padding: 40px;
          align-items: center;

          img {
            border-radius: 12px;
          }
        }
      }
    }
  }

  .example-websites {
    .website-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}


@media (min-width: 1200px) {

  // ====================
  // Home - Projects Section
  // ====================


  #projects {
    #project-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: none;
      margin: none;

      .project-card {

        .text {
          padding: 40px;
        }
      }

    }

    h2 {
      margin-bottom: 40px;
    }
  }

  #more-projects {
    .mini-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media (min-width: 1350px) {
  #background-section {
    .upgrade {
      .inner {
        &.panel-blue {
          margin-left: -40px;
          margin-right: -40px;
        }

        &.panel-grey {
          position: relative;
          top: 100px;
          z-index: -1;
        }
                .image {
          padding: 40px 40px 0;
        }
        
      }
    }
    .text {
margin-bottom: -50px;
}
  }
}

@media (min-width: 1650px) {

  // ====================
  // Base Styles
  // ====================

  .content {
    max-width: 1600px;
  }

  // ====================
  // Header & Navigation
  // ====================

  .desktop-navbar {
    .desktop-navbar-container {
      max-width: 1600px;
    }

  }
}