@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3uccym');
  src:  url('fonts/icomoon.eot?3uccym#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3uccym') format('truetype'),
    url('fonts/icomoon.woff?3uccym') format('woff'),
    url('fonts/icomoon.svg?3uccym#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
  content: "\e908";
}
.icon-open:before {
  content: "\e909";
}
.icon-ai:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-dark:before {
  content: "\e902";
}
.icon-design:before {
  content: "\e903";
}
.icon-filter:before {
  content: "\e904";
}
.icon-lifestyle:before {
  content: "\e905";
}
.icon-speed:before {
  content: "\e906";
}
.icon-x:before {
  content: "\e907";
}
