---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acme Cars">
  <Header />
  <section id="body-wrapper">
    <div class="content-small">
      <section class="project-header">
        <div class="image-section">
          <span class="sub-header blue">Acme Cars, 2025</span>
          <h1>
            Upgrading motorcentral’s base dealership website template with a
            modern design and fresh features
          </h1>
          <div class="image-grid single-column">
            <div class="image">
              <img
                src="/images/acme5/acme-hero.webp"
                alt="Acme Cars Hero Image"
              />
            </div>
          </div>
          <h2>My role</h2>
          <p>
            As the digital designer on this project, I worked closely with the
            project manager and software development team in order to create a
            design that could work functionally at all screen sizes.
          </p>
          <div class="skills">
            <span>UX/UI Design</span>
            <span>Collaboration</span>
            <span>Prototyping</span>
          </div>
        </div>
      </section>

      <section class="background">
        <span class="sub-header blue"> Background and problem </span>
        <div class="text">
          <h2>
            To be able to increase our reach, we needed an overhaul of our
            design
          </h2>
          <p>
            Motorcentral has over has designed and built over 600 websites for
            car dealerships in New Zealand. As you might expect, there comes a
            point where there just aren’t enough clients left locally. Moving
            abroad is the next logical step, but in order to do that, we needed
            to step up or game.
          </p>
          <p>That’s where Acme 5.0 comes in.</p>
        </div>
        <div class="upgrade">
          <div class="inner">
            <span class="sub-header">Old Acme</span>

            <div class="item">
              <img src="/images/acme5/icons/x.svg" alt="" />
              <span>Slower to load</span>
            </div>
            <div class="item">
              <img src="/images/acme5/icons/x.svg" alt="" />
              <span>Dated look</span>
            </div>
            <div class="item">
              <img src="/images/acme5/icons/x.svg" alt="" />
              <span>Hard to find the right car</span>
            </div>
          </div>
          <img class="arrow" src="/images/acme5/icons/arrow.svg" alt="" />

          <div class="inner">
            <span class="sub-header blue">Acme 5.0</span>
            <div class="item">
              <img src="/images/acme5/icons/speed.svg" alt="" />
              <span>Optimised for faster page speeds</span>
            </div>
            <div class="item">
              <img src="/images/acme5/icons/design.svg" alt="" />
              <span>Intuitive UI and fresh design</span>
            </div>
            <div class="item">
              <img src="/images/acme5/icons/filter.svg" alt="" />
              <span
                >Specific, relevant and lifestyle-oriented search criteria</span
              >
            </div>
            <div class="item">
              <img src="/images/acme5/icons/ai.svg" alt="" />
              <span>AI generated vehicle descriptions</span>
            </div>
          </div>
        </div>
      </section>

      <section class="ai-powered">
        <div class="image-section">
          <span class="sub-header blue">Acme Cars, 2025</span>
          <h2>
            Upgrading motorcentral’s base dealership website template with a
            modern design and fresh features
          </h2>
              <p>
            As the digital designer on this project, I worked closely with the
            project manager and software development team in order to create a
            design that could work functionally at all screen sizes.
          </p>
          <div class="image-grid single-column">
            <div class="image">
              <img
                src="/images/acme5/ai-summary.webp"
                alt="Acme Cars Hero Image"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="filter-features">
        <div class="image-section">
          <span class="sub-header blue">Acme Cars, 2025</span>
          <h2>
            Upgrading motorcentral’s base dealership website template with a
            modern design and fresh features
          </h2>
              <p>
            As the digital designer on this project, I worked closely with the
            project manager and software development team in order to create a
            design that could work functionally at all screen sizes.
          </p>
          <div class="image-grid double-column">
            <div class="image">
              <img
                src="/images/acme5/featured.webp"
                alt="Acme Cars Hero Image"
              />
            </div>
            <div class="image">
              <img
                src="/images/acme5/quick-filter.webp"
                alt="Acme Cars Hero Image"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</Layout>
