---
const year = new Date().getFullYear();
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Contact">
  <div class="body-wrapper"> 
      <h2>Get in touch</h2>
      <ContactForm />
  </div>
</Layout>
