---
import Layout from "../layouts/Layout.astro";
import FadeUpAnimation from "../components/FadeUpAnimation.astro";
---

<FadeUpAnimation />

<Layout>
  <section id="body-wrapper">
    <section id="banner">
      <div class="content">
        <div class="text">
          <span class="sub-header green">UX/UI Designer & Front End</span>
          <h1>
            Hi, I'm Liam, I design digital products that are user-friendly and
            accessible
          </h1>
        </div>
        <img
          class="banner-illustration"
          src="/images/profile.svg"
          alt=""
          width="200"
          height="200"
        />
      </div>
    </section>
    <div class="content flex column gap-large">
      <section id="projects">
        <h2>Featured Projects</h2>
        <div id="project-list">
          <div class="project-card fade-up">
            <img
              class="project-image"
              src="/images/acme5/websites-home.webp"
              alt="White label website template for car dealerships"
            />
            <div class="text">
              <h3>White label car dealership template</h3>
              <span>2025</span>
              <p>
                Elevating the standards for car dealer websites in New Zealand with
                a modern website template and cutting-edge helpful AI features
              </p>
              <a
                class="button grey"
                href="/dealer-websites"
                aria-label="View Acme Website Template project details"
              >
                View project <i class="icon-arrow"></i>
              </a>
            </div>
          </div>
    
          <div class="project-card fade-up reverse">
            <div class="text">
              <h3>Avanti Finance App</h3>
              <span>2025</span>
    
              <p>
                A convenient mobile and web app for customers to view where they’re
                at with their loan repayments.
              </p>
              <a
                class="button grey"
                href="/avanti"
                aria-label="View Avanti Finance App project details"
              >
                View project <i class="icon-arrow"></i>
              </a>
            </div>
            <img
              class="project-image"
              src="/images/avanti-app/avanti-home.webp"
              alt="Avanti Finance App preview"
            />
          </div>
    
          <div class="project-card fade-up">
            <img
              class="project-image"
              src="/images/buyerscore/buyerscore-home.webp"
              alt="BuyerScore Website Redesign preview"
            />
            <div class="text">
              <h3>BuyerScore Website Redesign</h3>
              <span>2025</span>
    
              <p>
                Redesigned the BuyerScore website to improve the user experience and
                improve brand awareness.
              </p>
              <a
                class="button grey"
                href="/avanti"
                aria-label="View Avanti Finance App project details"
              >
                View project <i class="icon-arrow"></i>
              </a>
            </div>
          </div>
        </div>
        <h2>Website Builds</h2>
        <section id="more-projects" class="flex column gap-small">
          <div class="grid double-column">
            <div class="item">
              <img
                src="/images/the-serious-sandwich/the-serious-sandwich-home.webp"
                alt="The Serious Sandwich website"
              />
              <div class="text">
                <h3>The Serious Sandwich</h3>
    
                <span class="year">2025</span>
                <p>Playful brand site with a tight, clear menu layout.</p>
                <div class="button grey">
                  Visit website
                  <i class="icon-open"></i>
                </div>
              </div>
            </div>
            <div class="item">
              <img
                src="/images/te-rapa/te-rapa-home.webp"
                alt="Te Rapa Cars website"
              />
              <div class="text">
                <h3>Te Rapa Cars</h3>
                <span class="year">2026</span>
                <p>
                  Modern used car dealership site showcasing inventory with advanced
                  search.
                </p>
                <div class="button grey">
                  Visit website
                  <i class="icon-open"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </section>
</Layout>

