---
const year = new Date().getFullYear();
---

<footer id="site-footer">
	<div class="content">
		<div class="footer-branding">
			<div class="identity">
				<strong>Liam Scrase</strong>
				<span>UX/UI Designer · Front End Support</span>
			</div>
		</div>

		<div class="footer-links" aria-label="Footer">
			<a href="/">Home</a>
			<a href="/#projects">Projects</a>
		</div>
	</div>
</footer>
