---
const year = new Date().getFullYear();
---

<footer id="site-footer">
  <div class="content">
    <p>© {year} Liam Scrase. All rights reserved.</p>
    <p>
      Built with
      <a href="https://astro.build/" target="_blank" rel="noopener">Astro</a>,
      designed by me in Figma and Adobe CC.
    </p>
  </div>
</footer>